# UK House Prices Data Analysis Project

In [1]:
import polars as pl
import glob
import os
import numpy as np

# Let's first check what files exist
folder_path = r"C:\Users\Student\UK-Housing-Prices-Analysis"
csv_pattern = os.path.join(folder_path, "*.csv")

# Print the files found to debug
file_list = glob.glob(csv_pattern)
print("Files found:", file_list)

if not file_list:
    raise Exception("No CSV files found in the specified directory!")

# Combine all CSV files into one DataFrame
combined_df = pl.concat((pl.read_csv(file) for file in file_list))

# Function to save the merged dataset as CSV
def output(mergelist):
    csv_path = os.path.join(folder_path, "merge_dataset.csv")
    # Using write_csv instead of to_csv for Polars DataFrame
    mergelist.write_csv(csv_path)
    print(f'Saved to CSV at {csv_path}')
    return mergelist

# Call the output function with the combined DataFrame
output(combined_df)

Files found: ['C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_1995.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_1996.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_1997_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_1997_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_1998.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_1999_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_1999_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2000_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2000_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2001_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2001_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2002_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2002_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2003_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2003_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2004_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2004_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2005_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2005_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2006_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2006_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2007_1.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2007_2.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2008.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2009.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2010.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2011.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2012.csv', 'C:\\Users\\Student\\UK-Housing-Prices-Analysis\\E&W Year_2013.csv']
Saved to CSV at C:\Users\Student\UK-Housing-Prices-Analysis\merge_dataset.csv

shape: (18_720_390, 17)
┌───────────────────┬────────┬────────────┬───────────┬───┬───────┬─────────┬────────────┬─────────┐
│ unique_id         ┆ price  ┆ date       ┆ post_code ┆ … ┆ month ┆ quarter ┆ region     ┆ country │
│ ---               ┆ ---    ┆ ---        ┆ ---       ┆   ┆ ---   ┆ ---     ┆ ---        ┆ ---     │
│ str               ┆ i64    ┆ str        ┆ str       ┆   ┆ i64   ┆ i64     ┆ str        ┆ str     │
╞═══════════════════╪════════╪════════════╪═══════════╪═══╪═══════╪═════════╪════════════╪═════════╡
│ {00005916-E189-4E ┆ 82500  ┆ 29/06/1995 ┆ NE49 9PB  ┆ … ┆ 6     ┆ 2       ┆ North East ┆ England │
│ 1C-A85A-EB8CF…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ {0000C0D6-F362-48 ┆ 16000  ┆ 28/07/1995 ┆ TS25 5SN  ┆ … ┆ 7     ┆ 3       ┆ North East ┆ England │
│ 10-8693-96897…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ {0005BD5B-5950-45 ┆ 23000  ┆ 11/08/1995 ┆ TS25 4HT  ┆ … ┆ 8     ┆ 3       ┆ North East ┆ England │
│ 90-B3E5-63200…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ {00074E3B-C045-46 ┆ 21000  ┆ 31/10/1995 ┆ DH9 0EP   ┆ … ┆ 10    ┆ 4       ┆ North East ┆ England │
│ F3-A08B-83507…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ {0007B4EC-A358-43 ┆ 60000  ┆ 19/12/1995 ┆ NE65 8DR  ┆ … ┆ 12    ┆ 4       ┆ North East ┆ England │
│ 7E-83CE-C489E…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ …                 ┆ …      ┆ …          ┆ …         ┆ … ┆ …     ┆ …       ┆ …          ┆ …       │
│ {8D636320-2F5B-45 ┆ 290000 ┆ 2013-12-11 ┆ BB12 9JL  ┆ … ┆ 12    ┆ 4       ┆ North West ┆ England │
│ ED-9ABC-FFF65…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ {1D8981E5-8EC9-4C ┆ 153000 ┆ 2013-12-09 ┆ SK14 4EA  ┆ … ┆ 12    ┆ 4       ┆ North West ┆ England │
│ 51-AC74-FFFB1…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ {D9B3A6C3-F8C4-44 ┆ 697000 ┆ 2013-12-13 ┆ BR3 6QR   ┆ … ┆ 12    ┆ 4       ┆ London     ┆ England │
│ 0F-A0D1-FFFD8…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ {471A7FF7-C0FA-41 ┆ 88000  ┆ 2013-12-20 ┆ HR4 0AQ   ┆ … ┆ 12    ┆ 4       ┆ South West ┆ England │
│ 71-BF5B-FFFDE…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
│ {130C814B-862E-47 ┆ 154500 ┆ 2013-12-13 ┆ L31 2LW   ┆ … ┆ 12    ┆ 4       ┆ North West ┆ England │
│ 5C-9AB9-FFFE7…    ┆        ┆ 00:00      ┆           ┆   ┆       ┆         ┆            ┆         │
└───────────────────┴────────┴────────────┴───────────┴───┴───────┴─────────┴────────────┴─────────┘

In [5]:
# Summary statistics
combined_df.describe()

shape: (9, 18)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ unique_id ┆ price     ┆ date      ┆ … ┆ month     ┆ quarter   ┆ region    ┆ country  │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ f64       ┆ str       ┆   ┆ f64       ┆ f64       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 18720390  ┆ 1.872039e ┆ 18720390  ┆ … ┆ 1.872039e ┆ 1.872039e ┆ 18720390  ┆ 18720390 │
│           ┆           ┆ 7         ┆           ┆   ┆ 7         ┆ 7         ┆           ┆          │
│ null_coun ┆ 0         ┆ 0.0       ┆ 0         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0         ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ 156211.54 ┆ null      ┆ … ┆ 6.808984  ┆ 2.596922  ┆ null      ┆ null     │
│           ┆           ┆ 571       ┆           ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ null      ┆ 173010.58 ┆ null      ┆ … ┆ 3.30632   ┆ 1.081937  ┆ null      ┆ null     │
│           ┆           ┆ 6661      ┆           ┆   ┆           ┆           ┆           ┆          │
│ min       ┆ {000000AC ┆ 5050.0    ┆ 01/01/199 ┆ … ┆ 1.0       ┆ 1.0       ┆ East      ┆ England  │
│           ┆ -478E-47B ┆           ┆ 5 00:00   ┆   ┆           ┆           ┆ Midlands  ┆          │
│           ┆ 3-9B71-7C ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 1E9…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ null      ┆ 69000.0   ┆ null      ┆ … ┆ 4.0       ┆ 2.0       ┆ null      ┆ null     │
│ 50%       ┆ null      ┆ 120000.0  ┆ null      ┆ … ┆ 7.0       ┆ 3.0       ┆ null      ┆ null     │
│ 75%       ┆ null      ┆ 190000.0  ┆ null      ┆ … ┆ 10.0      ┆ 4.0       ┆ null      ┆ null     │
│ max       ┆ {FFFFFE71 ┆ 5.4959e7  ┆ 31/12/201 ┆ … ┆ 12.0      ┆ 4.0       ┆ Yorkshire ┆ Wales    │
│           ┆ -D9FC-423 ┆           ┆ 1 00:00   ┆   ┆           ┆           ┆ and The   ┆          │
│           ┆ 2-AD14-81 ┆           ┆           ┆   ┆           ┆           ┆ Humber    ┆          │
│           ┆ 9C8…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [10]:
# Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns

# Histogram
combined_df.hist(figsize=(10, 6))
plt.show()

# Boxplot
sns.boxplot(data=combined_df)
plt.show()

# Correlation Matrix
corr_matrix = combined_df.corr()
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', square=True)
plt.show()

AttributeError: 'DataFrame' object has no attribute 'hist'

In [9]:
#Missing Value Analysis
print(combined_df.isnull().sum())

AttributeError: 'DataFrame' object has no attribute 'isnull'

In [ ]:
# Scatter plot
sns.scatterplot(x='column1', y='column2', data=mergelist)
plt.show()

In [ ]:
# Pair Plots
sns.pairplot(mergelist)
plt.show()